/*reglas generales*/
*{
margin:0px;
padding:0px;
}

body{
text-align:left;
background-image:url(../img/naranja.jpg);
background-repeat:no-repeat;
background-attachment: fixed;
}

h1{margin-top:2%;}
/* fin reglas generales*/

/*-------------------------------------------------------------*/

/*zona logo*/
.logo{
width:80%;
margin-left:10%;
margin-top:1%;
border: 1px hidden red;
height:150px;
}
img[src="img/encabezado.png"]{
width:200px;
float:right;
margin-right:5%;
margin-top:20px;
}
/*fin zona logo*/

/*-------------------------------------------------------------*/

/*info de footer*/
footer{
border: 5px solid grey;
border-radius:5px;
margin-top:1%;
margin-bottom:-20%;
margin-left:10%;
height:220px;
background-color:#ffce99;
width:80%;
}

p.info{
margin-left:42%;
top:28px;
position:relative;

}

img[src="img/valencia.png"]{
border-radius:5px;
left:1%;
position:relative;
bottom:40px;
width:420px;
}

.redes{
width:50px;
height:50px;
}
table{
float:right;
margin-top:8%;
margin-right:6%;
}

/* fin info de footer*/

/*------------------------------------------------------------------------------*/

/*enlaces*/
.marco{
border: 1px hidden red;
width:70%;
margin-left:15%;
padding:5px 5px 5px;
margin-bottom:5px;
}

.idioma{
width:20px;
height:20px;
}

.enlace{
  margin-left: 6%;
}

a{
font: normal 18px helvetica, arial, sans-serif;
color:orange;
text-decoration: none; 
padding: 1px 3px; 
display: inline-block; 
-webkit-transition: all 1s linear; 
-moz-transition: all 1s linear; 
-ms-transition: all 1s linear; 
-o-transition: all 1.4s linear; 
transition: all 1s linear; 
}

a[href="reparaciones.html"]{margin-right:8%; margin-left:8%;}

A:link, A:visited {
  text-decoration: none;
}
A:hover {
background: #ccc; 
color: red; 
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); 
-webkit-transform: scale(1.5,1.5); 
-moz-transform: scale(1.5,1.5); 
-ms-transform: scale(1.5,1.5); 
-o-transform: scale(1.5,1.5); 
transform: scale(1.5,1.5); 
-webkit-transition: all .8s linear; 
-moz-transition: all .8s linear; 
-ms-transition: all .8s linear; 
-o-transition: all .8s linear; 
transition: all .8s linear;
}

/* fin enlaces */

/*----------------------------------------------------------------------------------------*/

/* contenido */
section{
border: 5px solid grey;
margin-left:10%;
width:80%;
height:710px;
border-radius:5px;
background-color:#ffdab3;
}

h2{
margin-top:1%;
margin-bottom:2%;
}

img[src="img/bici.jpg"]{
width:100%;
height:350px;
margin-bottom:1%;
border-bottom: 2px solid grey;
}

p a{
margin-left:30%;
margin-bottom:1%;
position:relative;
bottom:20px;

}

img[src="img/btt.png"]{
width:200px;
height:200px;
margin-left:10%;
}

.imagen{
width:200px;
height:200px;

}

.top{
border: 5px solid grey;
width: 23%;
float:left;
margin-left:17%;
border-radius:5px;
background-color:#fff3e6;
}

.destacados{
margin-top:2%;
margin-bottom:1%;
text-align:center;

}

/* fin contenido */

/*----------------------------------------------------------------------------*/

/*Bicis en venta*/
.catalogo{margin-left:8%;}

h1{text-align:center;margin-bottom:2%;}

.bicis{
float:left;
margin-left:4%;
margin-bottom:4%;
width:25%;
border:5px solid grey;
border-radius:5px;
background-color:#fff3e6;
}
section.ventas{
border: 5px solid grey;
border-radius:5px;
margin-left:10%;
width:80%;
height:1140px;
background-color:#ffdab3;
}

/*fin bicis en venta*/

/*----------------------------------------------------------------------------------*/

/*bicis alquiler*/
section.alquiler{
border: 5px solid grey;
border-radius:5px;
margin-left:10%;
width:80%;
height:600px;
background-color:#ffdab3;
}
/*fin bicis alquiler*/

/*----------------------------------------------------------------------------------*/

/*reparacion*/
section.reparacion{
border: 5px solid grey;
border-radius:5px;
margin-left:10%;
width:80%;
height:870px;
background-color:#ffdab3;
}
/*fin reparacion*/

/*----------------------------------------------------------------------------------*/

/*contenedor*/
.container{
width:100%;
}
/* fin contenedor*/
